:root {
	--tb-tooltip-margin-left : 10px;
	--tb-tooltip-margin-top  : 20px;
	--tb-tooltip-margin-right: .5rem;
	--tb-tooltip-min-width   : 20em;
}

@media screen {

#tooltip-wrapper {
	position  : fixed;
	z-index   : 1;
	background: var( --wiki-content-background-color--secondary );
}

@media not all and ( min-width: 720px ) {
	#tooltip-wrapper {
		margin: var( --wiki-content-padding );
		left  : 0;
		bottom: 0;
	}
}

@media ( min-width: 720px ) {
	#tooltip-wrapper {
		margin-right: var( --tb-tooltip-margin-right );
		left        : calc( min( var( --tb-cursor-left ) + var( --tb-tooltip-margin-left ), 100vw - var( --tb-tooltip-min-width ) - var( --tb-tooltip-margin-right ) ) );
		top         : calc( var( --tb-cursor-top ) + var( --tb-tooltip-margin-top ) );
	}
}

#tooltip-wrapper:not( .tooltip-wrapper-active ),
.tooltip-content:not( .tooltip-content-active ) {
	display: none;
}

.tooltip-content {
	--wiki-content-link-color: var( --wiki-content-text-color );
	position: relative;
	padding : .2em .5em;
}

.tooltip-content * {
	margin     : auto;
	white-space: normal;
	line-height: normal;
	font-weight: bold;
}

/* Temporary fix for older versions */
.tooltip-block {
	display: none;
}

}
