.tb-portlet-personal-toggle > span {
	display: block;
	border-radius: 0.5rem;
	padding: 0.4rem;
	font-size: 0;
	cursor: pointer;
	transition: all 0.3s;
}

.tb-portlet-personal-toggle:hover > span {
	background-color: rgba( 255, 255, 255, 0.2 );
}

.tb-portlet-personal-toggle > span::before {
	content: "";
	min-width: 20px;
	min-height: 20px;
	width: 1.25rem;
	height: 1.25rem;
	display: inline-block;
	vertical-align: text-bottom;
	-webkit-mask: var( --icon ) no-repeat center / calc( max( 1.25rem, 20px ) );
	        mask: var( --icon ) no-repeat center / calc( max( 1.25rem, 20px ) );
	background-color: var( --color-base, #202122 );
}
