/* override [[MediaWiki:Gadget-sidebar-tools-hide.css]] */

@media screen {

body #mw-panel #p-tb {
	display: block;
}

body #mw-panel #p-tb:has( .vector-menu-content-list:empty ) {
	display: none;
}

@media ( max-width: 719px ) {
	body.has-vector-mobile-menu #mw-panel .mobile-nav-toggle.nav--expanded ~ #p-tb {
		display: block;
	}

	body.has-vector-mobile-menu #mw-panel #p-tb {
		display: none;
	}
}

}
