.item-altar {
	width           : 108px;
	height          : 92px;
	background-image: url( filepath://Item_altar.png );
	background-size : 100%;
}

.portable-infobox .pi-data-value > .item-altar {
	margin: -15px auto 0;
}
