@media screen and ( min-width: 720px ) {

:root {
	--icon-category: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-category-2' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M14 4h6v6h-6z'%3E%3C/path%3E%3Cpath d='M4 14h6v6h-6z'%3E%3C/path%3E%3Cpath d='M17 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0'%3E%3C/path%3E%3Cpath d='M7 7m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0'%3E%3C/path%3E%3C/svg%3E" );
	--icon-chevron-down: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-chevron-down' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M6 9l6 6l6 -6'%3E%3C/path%3E%3C/svg%3E" );
	--icon-edit: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-edit' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1'%3E%3C/path%3E%3Cpath d='M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z'%3E%3C/path%3E%3Cpath d='M16 5l3 3'%3E%3C/path%3E%3C/svg%3E" );
	--icon-eye: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-eye' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M12 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0'%3E%3C/path%3E%3Cpath d='M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7'%3E%3C/path%3E%3C/svg%3E" );
	--icon-history: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' aria-hidden='true'%3E%3Cpath d='M9 6v5h.06l2.48 2.47 1.41-1.41L11 10.11V6z'%3E%3C/path%3E%3Cpath d='M10 1a9 9 0 00-7.85 13.35L.5 16H6v-5.5l-2.38 2.38A7 7 0 1110 17v2a9 9 0 000-18'%3E%3C/path%3E%3C/svg%3E" );
	--icon-language: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' aria-hidden='true'%3E%3Cpath d='M20 18h-1.44a.6.6 0 01-.4-.12.8.8 0 01-.23-.31L17 15h-5l-1 2.54a.8.8 0 01-.22.3.6.6 0 01-.4.14H9l4.55-11.47h1.89zm-3.53-4.31L14.89 9.5a12 12 0 01-.39-1.24q-.09.37-.19.69l-.19.56-1.58 4.19zm-6.3-1.58a13.4 13.4 0 01-2.91-1.41 11.46 11.46 0 002.81-5.37H12V4H7.31a4 4 0 00-.2-.56C6.87 2.79 6.6 2 6.6 2l-1.47.5s.4.89.6 1.5H0v1.33h2.15A11.23 11.23 0 005 10.7a17.2 17.2 0 01-5 2.1q.56.82.87 1.38a23.3 23.3 0 005.22-2.51 15.6 15.6 0 003.56 1.77zM3.63 5.33h4.91a8.1 8.1 0 01-2.45 4.45 9.1 9.1 0 01-2.46-4.45'%3E%3C/path%3E%3C/svg%3E" );
	--icon-more: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-dots-vertical' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0'%3E%3C/path%3E%3Cpath d='M12 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0'%3E%3C/path%3E%3Cpath d='M12 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0'%3E%3C/path%3E%3C/svg%3E" );
	--icon-reload: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3E reload %3C/title%3E%3Cpath d='M15.65 4.35A8 8 0 1 0 17.4 13h-2.22a6 6 0 1 1-1-7.22L11 9h7V2z'/%3E%3C/svg%3E" );
	--icon-talk: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-messages' width='24' height='24' viewBox='0 0 24 24' stroke-width='2' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M21 14l-3 -3h-7a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1h9a1 1 0 0 1 1 1v10'%3E%3C/path%3E%3Cpath d='M14 15v2a1 1 0 0 1 -1 1h-7l-3 3v-10a1 1 0 0 1 1 -1h2'%3E%3C/path%3E%3C/svg%3E" );
}

/*********************
/* Base placeholders *
/*********************/

#mw-page-base,
#mw-head-base {
	display: none;
}

/**************
/* Navigation *
/**************/

#content,
#mw-navigation,
#mw-head,
#footer {
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
}

#mw-navigation {
	display: flex;
	flex-direction: column;
	position: relative;
}

#content {
	margin-top: calc( 0px
		- 45px /* #content: 37px border-width + 8px padding */
		- 1.8 * 1.375 * 1em /* #firstHeading: 1.8em font-size * 1.375em line-height */
	);
}

body #mw-head {
	order: 2;
	position: static;
	margin-top: 37px;
	margin-left: auto;
	margin-right: 49px;
	z-index: 100;
}

#firstHeading {
	padding-right: 6em;
}

.content-wrapper {
	position: relative;
}

body #left-navigation,
body #right-navigation {
	margin-bottom: 0;
}

#left-navigation {
	order: 2;
	border-left: 1px solid var( --wiki-content-border-color );
}

#right-navigation {
	order: 1;
	display: flex;
}

.mw-portlet-navigation {
	display: none;
}

body #mw-panel {
	display: flex;
	align-items: center;
	flex-flow: row wrap;
	order: 0;
	width: auto;
	min-height: 65px;
	margin-right: calc( clamp( 5em, 20vw, 20em ) + 76px - 2em );
	margin-bottom: 15px;
	margin-left: 250px;
	padding-top: 0;
	z-index: 101;
}

body #p-logo {
	left: auto;
	right: 100%;
	height: var( --wiki-logo-height );
	width: var( --wiki-logo-width );
}

.portal:has( .vector-menu-content-list:empty ) {
	display: none;
}

#mw-panel .portal {
	height: fit-content;
	position: relative;
	padding: 0;
}

#mw-panel .portal .vector-menu-heading {
	align-items: center;
	background-image: none;
	color: var( --wiki-body-dynamic-color );
	cursor: pointer;
	display: flex;
	font-size: 12px;
	font-weight: bold;
	justify-content: space-between;
	line-height: 18px;
	margin: 0;
	padding: 0.625em;
	text-transform: uppercase;
}

#mw-panel .portal .vector-menu-heading::after {
	content: "";
	display: block;
	pointer-events: none;
	width: 14px;
	height: 14px;
	margin-left: 0.5em;
	-webkit-mask: var( --icon-chevron-down ) no-repeat center center / 100% 100%;
	mask: var( --icon-chevron-down ) no-repeat center center / 100% 100%;
	background-color: var( --wiki-body-dynamic-color );
	transform: none;
	transition: transform 0.3s;
}

.client-nojs #mw-panel .portal .vector-menu-heading {
	cursor: unset;
}

.client-nojs #mw-panel .portal .vector-menu-heading::after {
	display: none;
}

#mw-panel .portal .body {
	padding: 0;
	margin: 0;
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: max-content;
	min-width: 8em;
	background: var( --wiki-content-background-color--secondary );
	box-shadow: 0px 0px 15px 0px rgba( 10, 10, 10, 0.7 );
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	z-index: 1;
}

#mw-panel .portal .body::before {
	content: "";
	display: none;
	pointer-events: none;
	height: 0;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
}

#mw-panel .portal .body ul {
	padding: 0.4em;
}

#mw-panel .portal .body li {
	margin: 0;
	padding: 0;
	transition: background 0.3s;
}

#mw-panel .portal .body li a {
	color: var( --wiki-content-text-color );
	font-size: 14px;
	text-decoration: none;
	padding: 0.625em;
}

#mw-panel .portal .body li a:hover {
	background: color-mix( in srgb, var( --wiki-accent-color ) 10%, transparent );
	color: var( --wiki-content-link-color );
}

#mw-panel .portal:hover .vector-menu-heading {
	background: color-mix( in srgb, var( --wiki-accent-color ) 25%, transparent );
	border-radius: 0;
}

#mw-panel .portal:hover .vector-menu-heading::after {
	transform: rotate( 180deg );
}

#mw-panel .portal:hover .body {
	display: block;
}

#mw-panel .vector-menu-portal.mw-portlet {
	margin: 0;
	background-color: transparent;
	border-width: 0;
}

@supports not ( color: color-mix( in srgb, #000, transparent ) ) { /* fallback */
	#mw-panel .portal .body li a:hover,
	#mw-panel .portal:hover .vector-menu-heading {
		background: var( --wiki-accent-color );
	}
}

/******************
/* Header buttons *
/******************/

#ca-view {
	--icon: var( --icon-eye );
}

#ca-ve-edit {
	--icon: var( --icon-edit );
}

#ca-edit {
	--icon: var( --icon-edit );
}

#ca-addsection {
	--icon: var( --icon-edit );
}

#ca-viewsource {
	--icon: var( --icon-eye );
}

#ca-history {
	--icon: var( --icon-history );
}

#ca-recreatedata {
	--icon: var( --icon-reload );
}

#ca-watch {
	--icon: var( --icon-star-empty );
}

#ca-unwatch {
	--icon: var( --icon-star-filled );
}

#ca-talk {
	--icon: var( --icon-talk );
}

#p-cactions {
	--icon: var( --icon-more );
}

#p-lang {
	--icon: var( --icon-language );
}

body .vector-menu-tabs .mw-list-item.selected::before {
	display: none;
}

.mw-list-item[id^="ca-nstab-"],
#p-NAVIGATION {
	display: none;
}

.vector-menu-tabs-legacy #ca-view.selected {
	/* Sometimes display: block'd inline. */
	display: none !important;
}

#mw-head .vector-menu-tabs .mw-list-item,
#mw-head .vector-menu-dropdown,
#mw-head .vector-menu-portal {
	position: relative;
	margin: 0;
	border: none;
	padding: 0;
}

/* Medium-sized screen: Hide all labels ... */
#mw-head .vector-menu-tabs .mw-list-item a,
#mw-head .vector-menu-tabs #ca-watch.icon a,
#mw-head .vector-menu-tabs #ca-unwatch.icon a,
body #mw-head .vector-menu-dropdown .vector-menu-heading,
body #mw-head .vector-menu-portal .vector-menu-heading {
	display: block;
	box-sizing: content-box;
	width: 2em;
	height: 2em;
	padding: .375em;
	border-radius: 2px;
	margin: 0;
	background: none;
	align-items: center;
	justify-content: center;
	font-size: .8em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.6em;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
}

#mw-head .vector-menu-tabs .mw-list-item a,
#mw-head .vector-menu-tabs .mw-list-item a:hover,
#mw-head .vector-menu-tabs #ca-watch.icon a,
#mw-head .vector-menu-tabs #ca-watch.icon a:hover,
#mw-head .vector-menu-tabs #ca-unwatch.icon a,
#mw-head .vector-menu-tabs #ca-unwatch.icon a:hover,
body #mw-head .vector-menu-dropdown .vector-menu-heading,
body #mw-head .vector-menu-dropdown:hover .vector-menu-heading,
body #mw-head .vector-menu-portal .vector-menu-heading,
body #mw-head .vector-menu-portal:hover .vector-menu-heading {
	color: transparent;
}

#mw-head .vector-menu-tabs .mw-list-item a:hover,
#mw-head .vector-menu-tabs #ca-watch.icon a:hover,
#mw-head .vector-menu-tabs #ca-unwatch.icon a:hover,
body #mw-head .vector-menu-dropdown:hover .vector-menu-heading,
body #mw-head .vector-menu-portal:hover .vector-menu-heading {
	background: color-mix( in srgb, var( --wiki-accent-color ) 10%, transparent );
}

#mw-head .vector-menu-tabs .mw-list-item a:hover,
#mw-head .vector-menu-tabs .mw-list-item a:focus,
#mw-head .vector-menu-tabs #ca-watch.icon a:hover,
#mw-head .vector-menu-tabs #ca-watch.icon a:focus,
#mw-head .vector-menu-tabs #ca-unwatch.icon a:hover,
#mw-head .vector-menu-tabs #ca-unwatch.icon a:focus,
body #mw-head .vector-menu-dropdown:hover .vector-menu-heading,
body #mw-head .vector-menu-dropdown:focus .vector-menu-heading,
body #mw-head .vector-menu-portal:hover .vector-menu-heading,
body #mw-head .vector-menu-portal:focus .vector-menu-heading {
	text-decoration: none;
}

/* ... but show the ones below */
#mw-head #ca-view a,
#mw-head #ca-ve-edit a,
#mw-head #ca-edit a,
#mw-head #ca-addsection a,
#mw-head #ca-viewsource a {
	display: flex;
	width: auto;
	padding-right: .75em;
	gap: .375em;
	color: var( --wiki-content-link-color );
}

@media ( min-width: 1400px ) {
	/* Large-sized screen: Show all labels ... */
	#mw-head .vector-menu-tabs .mw-list-item a,
	#mw-head .vector-menu-tabs #ca-watch.icon a,
	#mw-head .vector-menu-tabs #ca-unwatch.icon a,
	body #mw-head .vector-menu-dropdown .vector-menu-heading,
	body #mw-head .vector-menu-portal .vector-menu-heading {
		display: flex;
		width: auto;
		padding-right: .75em;
		gap: .375em;
	}

	#mw-head .vector-menu-tabs .mw-list-item a,
	#mw-head .vector-menu-tabs .mw-list-item a:hover {
		color: var( --wiki-content-link-color );
	}

	#mw-head .vector-menu-tabs #ca-watch.icon a,
	#mw-head .vector-menu-tabs #ca-watch.icon a:hover,
	#mw-head .vector-menu-tabs #ca-unwatch.icon a,
	#mw-head .vector-menu-tabs #ca-unwatch.icon a:hover,
	body #mw-head .vector-menu-dropdown .vector-menu-heading,
	body #mw-head .vector-menu-dropdown:hover .vector-menu-heading,
	body #mw-head .vector-menu-portal .vector-menu-heading,
	body #mw-head .vector-menu-portal:hover .vector-menu-heading {
		color: var( --wiki-accent-color );
	}

	/* ... but hide the ones below */
	#mw-head #p-cactions .vector-menu-heading,
	#mw-head #p-cactions:hover .vector-menu-heading {
		display: block;
		width: 2em;
		padding-right: .375em;
		color: transparent;
	}
}

#mw-head .vector-menu-tabs .mw-list-item a::before,
#mw-head .vector-menu-tabs #ca-watch.icon a::before,
#mw-head .vector-menu-tabs #ca-unwatch.icon a::before,
#mw-head .vector-menu-dropdown .vector-menu-heading::before,
#mw-head .vector-menu-portal .vector-menu-heading::before {
	content: "";
	display: inline-block;
	position: initial;
	width: 1.6em;
	height: 1.6em;
	margin: 0;
	-webkit-mask: var( --icon ) center center / auto 100%;
	mask: var( --icon ) center center / auto 100%;
	font-size: 1.25em;
}

#mw-head .vector-menu-tabs .mw-list-item a::before {
	background-color: var( --wiki-content-link-color );
}

#mw-head .vector-menu-tabs #ca-watch.icon a::before,
#mw-head .vector-menu-tabs #ca-unwatch.icon a::before,
#mw-head .vector-menu-dropdown .vector-menu-heading::before,
#mw-head .vector-menu-portal .vector-menu-heading::before {
	background-color: var( --wiki-accent-color );
}

#mw-head .vector-menu-dropdown .vector-menu-heading::after,
#mw-head .vector-menu-portal .vector-menu-heading::after {
	display: none;
}

#mw-head .vector-menu-tabs #ca-watch.icon a span,
#mw-head .vector-menu-tabs #ca-unwatch.icon a span {
	display: initial;
}

@supports not ( color: color-mix( in srgb, #000, transparent ) ) { /* fallback */
	#mw-head .vector-menu-tabs .mw-list-item a:hover,
	#mw-head .vector-menu-tabs #ca-watch.icon a:hover,
	#mw-head .vector-menu-tabs #ca-unwatch.icon a:hover,
	#mw-head .vector-menu-dropdown:hover .vector-menu-heading,
	#mw-head .vector-menu-portal:hover .vector-menu-heading {
		background: var( --wiki-accent-color );
	}
}

/********************
/* Header dropdowns *
/********************/

#mw-head .vector-menu-dropdown .vector-menu-content,
#mw-head .vector-menu-portal .vector-menu-content {
	position: absolute;
	left: initial;
	right: -1px;
	border-style: none;
	padding: .4em;
	background-color: var( --wiki-content-background-color--secondary );
	cursor: default;
	opacity: 0;
	height: 0;
	visibility: hidden;
}


#mw-head .vector-menu-dropdown:hover .vector-menu-content,
#mw-head .vector-menu-portal:hover .vector-menu-content {
	opacity: 1;
	visibility: visible;
	height: auto;
}

#mw-head .vector-menu-dropdown .vector-menu-content-list,
#mw-head .vector-menu-portal .vector-menu-content-list {
	background-color: transparent;
	border-width: 0;
}

#mw-head .vector-menu-dropdown .mw-list-item,
#mw-head .vector-menu-portal .mw-list-item {
	font-size: 1em;
}

#mw-head .vector-menu-dropdown .mw-list-item a,
#mw-head .vector-menu-portal .mw-list-item a {
	padding: var( --wiki-navigation-dropdown-item-padding );
	color: var( --wiki-content-text-color );
	font-size: 0.875em;
	text-decoration: none;
}

#mw-head .vector-menu-dropdown .mw-list-item:hover,
#mw-head .vector-menu-portal .mw-list-item:hover {
	background: color-mix( in srgb, var( --wiki-accent-color ) 10%, transparent );
}

#mw-head .vector-menu-dropdown .mw-list-item a:hover,
#mw-head .vector-menu-portal .mw-list-item a:hover {
	color: var( --wiki-content-link-color );
}

@supports not ( color: color-mix( in srgb, #000, transparent ) ) { /* fallback */
	#mw-head .vector-menu-dropdown .mw-list-item:hover,
	#mw-head .vector-menu-portal .mw-list-item:hover {
		background: var( --wiki-accent-color );
	}
}

/**********
/* Search *
/**********/

body #p-search {
	position: absolute;
	right: 0;
	top: 0;
	height: 65px;
	padding-bottom: 0;
	display: flex;
	align-items: center;
	font-size: initial;
}

body #p-search::before,
body #p-search::after {
	display: none;
}

#searchform {
	margin-top: 0;
}

body #p-search .searchButton {
	min-height: auto;
}

.vector-search-box-inner {
	min-width: 5rem;
	max-width: 20rem;
}

body .mw-indicators {
	z-index: 1;
}

}
