.tb-width-full #pt-width {
	--icon: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M3 2a2 2 0 00-2 2V16a2 2 0 002 2H17a2 2 0 002-2V4a2 2 0 00-2-2zM16 16H4V4H16z'/%3E%3C/svg%3E" );
}

.tb-width-reduced #pt-width {
	--icon: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath d='M3 2a2 2 0 00-2 2V16a2 2 0 002 2H17a2 2 0 002-2V4a2 2 0 00-2-2zM14 16H6V4H14z'/%3E%3C/svg%3E" );
}

@media not all and ( min-width: 720px ) {
	#pt-width {
		display: none;
	}
}
