:root {
	--icon-dlc: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath stroke='black' stroke-width='1.25' fill='none' d='M1 10a8 7.5 0 0 0 18 0 8 7.5 0 0 0-18 0M8 13a2 2 0 0 1 4 0v1h-4v-1'/%3E%3Cpath fill='black' fill-rule='evenodd' d='M2.5 11a1 1 0 0 0 4.5 0 2 2 0 0 0-4.5 0m.7-.5a.5.5 0 0 0 1.5 0 .5.5 0 0 0-1.5 0M13 11a1 1 0 0 0 4.5 0 1 1 0 0 0-4.5 0m.7-.5a.5.5 0 0 0 1.5 0 .5.5 0 0 0-1.5 0'/%3E%3C/svg%3E" );
}

.cf-only {
	display: none;
}

.cf-available .cf-only {
	display: initial;
}

#cf-firstHeading-ext {
	font-size: 1rem;
	user-select: none;
	opacity: 0.5;
}

#cf-menu {
	--icon: var( --icon-dlc );
}

.release-rebirth {
	--release-color: #142e59;
	--release-color--secondary: #c3d7f7;
}

.release-afterbirth,
.release-afterbirth-plus {
	--release-color: #661200;
	--release-color--secondary: #ff5f47;
}

.release-repentance,
.release-repentance-plus {
	--release-color: #490505;
	--release-color--secondary: #ff1c1c;
}

.release {
	font-family: var( --tb-title-font );
	text-shadow: var( --release-color ) 0 0 5px;
	font-size: 1.25em;
	line-height: 0.8;
}

.release,
.release a,
.release a:hover {
	color: var( --release-color--secondary );
}

#cf-menu-list {
	list-style: none;
	margin: 0;
}

#cf-info {
	text-align: center;
}

#cf-info #cf-menu {
	float: none;
	display: inline-block;
	border: none;
	line-height: 1;
	font-weight: 500;
	vertical-align: text-bottom;
}

#cf-info #cf-label {
	line-height  : 1;
	padding      : 7px 10px;
	white-space  : nowrap;
	border       : 1px solid;
	border-color : color-mix( in srgb, var( --wiki-accent-color ) 30%, transparent );
	border-radius: 10px;
	display      : inline-block;
	background   : color-mix( in srgb, var( --wiki-accent-color ) 20%, transparent );
	cursor       : pointer;
}

#cf-info #cf-label::after {
	display: none;
}

#cf-info #cf-menu:hover > #cf-label {
	background   : color-mix( in srgb, var( --wiki-accent-color ) 40%, transparent );
	border-radius: 10px 10px 0 0;
}

#cf-info #cf-menu-content {
	display   : none;
	z-index   : 1;
	position  : absolute;
	top       : 100%;
	left      : 50%;
	transform : translateX( -50% );
	width     : max-content;
	background: var( --wiki-content-background-color--secondary );
	text-align: center;
}

#cf-info #cf-menu:hover > #cf-menu-content {
	display: block;
}

.cf-menu-list,
ul.cf-menu-list {
	list-style: none;
	margin    : 0;
	padding   : 3px;
}

.cf-button > a,
.cf-button > a:visited {
	text-decoration: none;
}

.cf-button > a:hover {
	background: color-mix( in srgb, var( --wiki-accent-color ) 20%, transparent );
}

.cf-button-active,
.cf-button-deactivated,
.cf-view-active {
	display: none !important;
}

@media print {
	#cf-menu,
	#cf-info {
		display: none;
	}
}

@supports not ( color: color-mix( in srgb, #000, transparent ) ) { /* fallback */
	#cf-info #cf-label {
		border-color: var( --wiki-accent-color );
	}

	#cf-info #cf-label,
	#cf-info #cf-menu:hover > #cf-label,
	.cf-button > a:hover {
		background: var( --wiki-accent-color );
	}
}
