#cf-button-0 {
	--cf-button-title-color           : #142e59;
	--cf-button-title-color--secondary: #c3d7f7;
	--cf-button-title-color--rgb      : 20, 46, 89;
}

#cf-button-1,
#cf-button-2 {
	--cf-button-title-color           : #661200;
	--cf-button-title-color--secondary: #ff5f47;
	--cf-button-title-color--rgb      : 102, 18, 0;
}

#cf-button-3,
#cf-button-4 {
	--cf-button-title-color           : #490505;
	--cf-button-title-color--secondary: #ff1c1c;
	--cf-button-title-color--rgb      : 73, 5, 5;
}

.cf-menu {
	position      : relative;
	display       : inline-block;
	margin-left   : 20px;
	line-height   : 1;
	font-size     : 14px;
	font-weight   : 500;
	vertical-align: text-bottom;
}

.cf-toggle {
	line-height  : 1;
	padding      : 7px 10px;
	white-space  : nowrap;
	border       : 1px solid rgba( var( --wiki-accent-color--rgb ), 0.3 );
	border-radius: 10px;
	display      : inline-block;
	background   : rgba( var( --wiki-accent-color--rgb ), 0.2 );
	cursor       : pointer;
}

.cf-menu:hover > .cf-toggle {
	background   : rgba( var( --wiki-accent-color--rgb ), 0.4 );
	border-radius: 10px 10px 0 0;
}

.cf-menu-content {
	display   : none;
	z-index   : 1;
	position  : absolute;
	top       : 100%;
	left      : 50%;
	transform : translateX( -50% );
	width     : max-content;
	background: var( --wiki-content-background-color--secondary );
	text-align: center;
}

.cf-menu:hover > .cf-menu-content {
	display: block;
}

.cf-menu-list,
ul.cf-menu-list {
	list-style: none;
	margin    : 0;
	padding   : 3px;
}

#cf-info {
	text-align: center;
}

.cf-button > a,
.cf-button > a:visited {
	display        : block;
	padding        : 7px 10px;
	text-decoration: none;
	color          : var( --wiki-content-text-color );
}

.cf-button > a:hover {
	background: rgba( var( --wiki-accent-color--rgb ), 0.2 );
	color     : var( --wiki-content-link-color );
}

.cf-button-title {
	font-family     : var( --tb-title-font );
	color           : var( --cf-button-title-color--secondary );
	text-shadow     : var( --cf-button-title-color ) 0 0 5px;
	font-size-adjust: 0.6;
}

.cf-button > a:hover > .cf-button-title {
	color: color-mix( in hsl, var( --cf-button-title-color--secondary ), var( --cf-button-title-color ) 20% );
}

.cf-button-active,
.cf-button-deactivated,
.cf-view-active {
	display: none !important;
}
